* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  --color-secondary: #98fb98;
  --color-tertiary: #f1f1f1;
  --color-quaternary: #ffffff;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
  padding: 1rem;
  /* background: grey; */
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

.dark main {
  /* background: radial-gradient(
    328px at 2.9% 15%,
    rgb(30, 30, 30) 0%,
    rgb(40, 40, 40) 25.8%,
    rgb(50, 50, 50) 50.8%,
    rgb(60, 60, 60) 77.6%,
    rgb(70, 70, 70) 100.7%
  ); */
  background: #121d2c;
}