.calendar__dropdown {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.calendar__dropdown svg {
  margin-right: 2px; 
}

.calendar__dropdown span {
  font-size: 16px; 
}

.calendar__dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
}

.calendar__dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.calendar__dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.calendar__dropdown:hover {
  cursor: pointer;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.1);
  border-radius: 8px;
}
