aside {
  width: 250px;
  padding: 1rem;
  border-right: 2px solid #ddd;
}

.pinned-section {
  margin: 2rem;
}

.pinned-section h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.pinned-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: inherit; 
}

.pinned-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.pinned-item .name {
  flex: 1;
  margin-right: 10px;
}

.pinned-item img {
  width: 40px;
  height: 30px;
  margin-right: 1rem;
}

.unpin-tooltip {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
}

.tooltiptext {
  display: inline-block;
  position: absolute;
  background: var(--color-primary);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  transition: opacity 0.3s;
}

.pinned-item:hover .unpin-tooltip {
  display: block;
}

.unpin-tooltip:hover .tooltiptext {
  display: block;
  opacity: 1;
}

.unpin-icon {
  color: var(--color-primary);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.unpin-icon:hover {
  cursor: pointer;
}
