.search-form {
  display: flex;
  align-items: center;
  top: 100;
  background-color: #f2f2f2;
  border: none;
  /*border: 1px solid black;*/
  border-radius: 5px;
  padding: 5px;
  color: #000;
  position: relative;
}

.search-form input[type='text'] {
  flex-grow: 1;
  border: none;
  background: transparent;
  outline: none;
  padding: 5px;
  color: black;
  font-size: 14px;
}

.search-form input[type='text']::placeholder {
  color: black;
  font-style: italic;
}

.suggestions-list-container {
  max-height: 200px; 
  overflow-y: auto;
}

.suggestions-list {
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  position: absolute;
  box-sizing: border-box;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f0f8ff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  z-index: 1;
  list-style-type: none;
  margin-top: 5px;
  overflow-y: auto;
}

.list {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 12px;
}

.list img {
  width: 20px;
  height: auto;
  margin-right: 8px;
}
.list:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  text-decoration: none;
}

.search-form input[type='text']:focus + .suggestions-list {
  visibility: visible;
  opacity: 1;
}

.no-matches {
  color: black;
  text-align: center;
}

.search-form button {
  color: black;
  background: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem;
  width: 60px;
  height: 40px;
}

.search-form button:focus {
  outline: none;
}

.search-form button:hover,
.search-form button.active {
  color: black;
 /* border: 1px solid black;
  border-radius: 5px;*/
  border: none;
}