.table {
  border: 1px solid #ccc;
  background-color: #f0f8ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 60rem;
  padding: 10px;
}

.table h2.title {
  background-color: #84a7b0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.table h2.title img {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th, 
table td {
  border-bottom: none;
  padding: 8px;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr.clickable-row:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}


td.date-time-cell,
.results {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.team-cell {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

td.team-cell:hover {
  cursor: pointer;
}

.team-name {
  color: black;
}

.team-name:hover {
  text-decoration: underline;
}

.title-link {
  text-decoration: none;
}

.tooltip {
  position: absolute;
  z-index: 1;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  left: auto;
  right: 20px;
  top: -10px;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.team-container {
  position: relative;
  display: inline-block;
  align-items: center; 
}

.team-container img {
  width: 17px; 
  height: 17px; 
  margin-right: 10px;
}